In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('GroupBy_Aggregate').getOrCreate()
spark

In [2]:
df = spark.read.csv('employee_data_two.csv',header=True,inferSchema=True)
df.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

### GroupBy and Aggregation

Both works together, first groupby happens then aggregation funtion work on that.( notes -> https://spark.apache.org/examples.html )

In [3]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
# Apply groupBy by some column name.
df.groupBy('Name') # Its just return grouped data.

GroupedData[grouping expressions: [Name], value: [Name: string, Department: string ... 1 more field], type: GroupBy]

In [20]:
# Applu aggregate function.
# grouped to find total salary based on name
df.groupBy('Name').sum() # sum will works on only with int columns not for string.ir return dataframe.

DataFrame[Name: string, sum(Salary): bigint]

In [15]:
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      10000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [17]:
df.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      13000|
|Data Science|      43000|
+------------+-----------+

In [18]:
# mean salary provided each department
df.groupBy('Department').mean().show()

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         IOT|           7500.0|
|    Big Data|4333.333333333333|
|Data Science|          10750.0|
+------------+-----------------+

In [19]:
df.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [21]:
df.agg({'Salary':'Sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      71000|
+-----------+