Topics to cover:
    PySpark Dataframe
    Reading The Dataset
    Checking the Datatypes of the Column(Schema)
    Selecting Columns And Indexing
    Check Describe option similar to Pandas
    Adding Columns
    Dropping columns
    rename columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame part1').getOrCreate()

In [3]:
spark

In [20]:
# type1 - read dataset
df_spark = spark.read.option('header','true').csv('test1.csv')
df_spark 
# even though the actual column age and experience are in integer but here it shown as string.
# Because bydefault all cloumn are consider as string.
# To make it as orginal use parameter "inferSchema=True" in csv.

DataFrame[Name: string, Age: string, Experience: string]

In [12]:
df_spark.show()

+------------+---+----------+
|        Name|Age|Experience|
+------------+---+----------+
|     Abinash| 21|         3|
|Rajapandiyan| 45|         4|
|    Amsaveni| 43|         5|
|       Thiya| 22|         1|
|     Abinesh| 21|         4|
|     Adhavan| 20|         9|
|        Adhi| 15|         5|
+------------+---+----------+

In [16]:
# use 'inferSchema=True'
df_spark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)
df_spark

DataFrame[Name: string, Age: int, Experience: int]

In [17]:
df_spark.show()

+------------+---+----------+
|        Name|Age|Experience|
+------------+---+----------+
|     Abinash| 21|         3|
|Rajapandiyan| 45|         4|
|    Amsaveni| 43|         5|
|       Thiya| 22|         1|
|     Abinesh| 21|         4|
|     Adhavan| 20|         9|
|        Adhi| 15|         5|
+------------+---+----------+

In [19]:
# check schema
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [23]:
# type2 - read dataset
df_spark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_spark.show()

+------------+---+----------+
|        Name|Age|Experience|
+------------+---+----------+
|     Abinash| 21|         3|
|Rajapandiyan| 45|         4|
|    Amsaveni| 43|         5|
|       Thiya| 22|         1|
|     Abinesh| 21|         4|
|     Adhavan| 20|         9|
|        Adhi| 15|         5|
+------------+---+----------+

In [24]:
# check schema
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [26]:
type(df_spark) # Dataframe is a 2-dimensional, tabular data structure. Inside it we can perform varies kind of operation.

pyspark.sql.dataframe.DataFrame

In [32]:
# show the row names
df_spark.columns

['Name', 'Age', 'Experience']

In [34]:
# get head of the tabel
df_spark.head(3) # return frst 3 rows

[Row(Name='Abinash', Age=21, Experience=3),
 Row(Name='Rajapandiyan', Age=45, Experience=4),
 Row(Name='Amsaveni', Age=43, Experience=5)]

In [35]:
df_spark.show()

+------------+---+----------+
|        Name|Age|Experience|
+------------+---+----------+
|     Abinash| 21|         3|
|Rajapandiyan| 45|         4|
|    Amsaveni| 43|         5|
|       Thiya| 22|         1|
|     Abinesh| 21|         4|
|     Adhavan| 20|         9|
|        Adhi| 15|         5|
+------------+---+----------+

In [36]:
#select by column
df_spark.select('Name') # pass the column name. Return the dataframe

DataFrame[Name: string]

In [38]:
df_spark.select('Name').show() # return the particular column

+------------+
|        Name|
+------------+
|     Abinash|
|Rajapandiyan|
|    Amsaveni|
|       Thiya|
|     Abinesh|
|     Adhavan|
|        Adhi|
+------------+

In [39]:
# if we wants to select multiple columns. pass the column names through list
df_spark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [40]:
df_spark.select(['Name','Experience']).show()

+------------+----------+
|        Name|Experience|
+------------+----------+
|     Abinash|         3|
|Rajapandiyan|         4|
|    Amsaveni|         5|
|       Thiya|         1|
|     Abinesh|         4|
|     Adhavan|         9|
|        Adhi|         5|
+------------+----------+

In [42]:
# types of column
df_spark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [49]:
# describe -> gives the overall information of the table..calculates like mean,std, etc... eventhough the column is string 
df_spark.describe() # return as string for all columns

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [50]:
df_spark.describe().show() # min,max for string is based on index.

+-------+-------+------------------+-----------------+
|summary|   Name|               Age|       Experience|
+-------+-------+------------------+-----------------+
|  count|      7|                 7|                7|
|   mean|   NULL|26.714285714285715|4.428571428571429|
| stddev|   NULL|12.037639382568408|2.439750182371333|
|    min|Abinash|                15|                1|
|    max|  Thiya|                45|                9|
+-------+-------+------------------+-----------------+

In [55]:
df_spark=df_spark.withColumn('Experience after 2 years',df_spark['Experience']+2)
df_spark.show()

+------------+---+----------+------------------------+
|        Name|Age|Experience|Experience after 2 years|
+------------+---+----------+------------------------+
|     Abinash| 21|         3|                       5|
|Rajapandiyan| 45|         4|                       6|
|    Amsaveni| 43|         5|                       7|
|       Thiya| 22|         1|                       3|
|     Abinesh| 21|         4|                       6|
|     Adhavan| 20|         9|                      11|
|        Adhi| 15|         5|                       7|
+------------+---+----------+------------------------+

In [56]:
df_spark.drop('Experience after 2 years').show()

+------------+---+----------+
|        Name|Age|Experience|
+------------+---+----------+
|     Abinash| 21|         3|
|Rajapandiyan| 45|         4|
|    Amsaveni| 43|         5|
|       Thiya| 22|         1|
|     Abinesh| 21|         4|
|     Adhavan| 20|         9|
|        Adhi| 15|         5|
+------------+---+----------+

In [58]:
df_spark.show() # column operations are immutable .we can see the changes by reassign it.

+------------+---+----------+------------------------+
|        Name|Age|Experience|Experience after 2 years|
+------------+---+----------+------------------------+
|     Abinash| 21|         3|                       5|
|Rajapandiyan| 45|         4|                       6|
|    Amsaveni| 43|         5|                       7|
|       Thiya| 22|         1|                       3|
|     Abinesh| 21|         4|                       6|
|     Adhavan| 20|         9|                      11|
|        Adhi| 15|         5|                       7|
+------------+---+----------+------------------------+

In [59]:
df_spark=df_spark.drop('Experience after 2 years')
df_spark.show()

+------------+---+----------+
|        Name|Age|Experience|
+------------+---+----------+
|     Abinash| 21|         3|
|Rajapandiyan| 45|         4|
|    Amsaveni| 43|         5|
|       Thiya| 22|         1|
|     Abinesh| 21|         4|
|     Adhavan| 20|         9|
|        Adhi| 15|         5|
+------------+---+----------+

In [60]:
df_spark.withColumnRenamed('Name','New Name').show()

+------------+---+----------+
|    New Name|Age|Experience|
+------------+---+----------+
|     Abinash| 21|         3|
|Rajapandiyan| 45|         4|
|    Amsaveni| 43|         5|
|       Thiya| 22|         1|
|     Abinesh| 21|         4|
|     Adhavan| 20|         9|
|        Adhi| 15|         5|
+------------+---+----------+