Pyspark Dataframes :
    Filter Operation
    &,1,==
    ~

we preprocess the data by using filter operations like boolean conditions.

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Filter_operation').getOrCreate()
spark

In [8]:
df = spark.read.csv('filter.csv',header=True,inferSchema=True)
df.show()

+---------+---+------------------+------+
|     Name|Age|Experience (Years)|Salary|
+---------+---+------------------+------+
|    Krish| 31|                10| 30000|
|Sudhanshi| 30|                 8| 25000|
|    Sunny| 29|                 4| 20000|
|     Paul| 24|                 3| 20000|
|   Harsha| 21|                 1| 15000|
|  Shubham| 23|                 2| 18000|
|   Mahesh| 45|                10| 38000|
+---------+---+------------------+------+

### method 1

In [9]:
# filter based on some condition.
df.filter("Salary >= 20000").show() #return the entire dataframe.

+---------+---+------------------+------+
|     Name|Age|Experience (Years)|Salary|
+---------+---+------------------+------+
|    Krish| 31|                10| 30000|
|Sudhanshi| 30|                 8| 25000|
|    Sunny| 29|                 4| 20000|
|     Paul| 24|                 3| 20000|
|   Mahesh| 45|                10| 38000|
+---------+---+------------------+------+

In [12]:
df.filter("Salary<20000").select(['Name','Age']).show() #do filter and return the selected columns only
# drawback is we can't apply multiple conditions by using logical operator.

+-------+---+
|   Name|Age|
+-------+---+
| Harsha| 21|
|Shubham| 23|
+-------+---+

### method 2

In [13]:
# we can use logical operator.
df.filter(df['Salary']>=20000).show()

+---------+---+------------------+------+
|     Name|Age|Experience (Years)|Salary|
+---------+---+------------------+------+
|    Krish| 31|                10| 30000|
|Sudhanshi| 30|                 8| 25000|
|    Sunny| 29|                 4| 20000|
|     Paul| 24|                 3| 20000|
|   Mahesh| 45|                10| 38000|
+---------+---+------------------+------+

In [15]:
df.filter((df['Salary']>=200) & (df['Age']>=23)).show() # while giving more conditions.ensure put eachone in seperate parantheses.

+---------+---+------------------+------+
|     Name|Age|Experience (Years)|Salary|
+---------+---+------------------+------+
|    Krish| 31|                10| 30000|
|Sudhanshi| 30|                 8| 25000|
|    Sunny| 29|                 4| 20000|
|     Paul| 24|                 3| 20000|
|  Shubham| 23|                 2| 18000|
|   Mahesh| 45|                10| 38000|
+---------+---+------------------+------+

In [18]:
df.filter((df['Salary']>=200) & 
          (df['Age']>=23)).select(['Name','Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Sudhanshi| 30|
|    Sunny| 29|
|     Paul| 24|
|  Shubham| 23|
|   Mahesh| 45|
+---------+---+

In [19]:
df.filter(~(df['Salary']>=20000)).show() # not or inverse operation

+-------+---+------------------+------+
|   Name|Age|Experience (Years)|Salary|
+-------+---+------------------+------+
| Harsha| 21|                 1| 15000|
|Shubham| 23|                 2| 18000|
+-------+---+------------------+------+