In [1]:
import pyspark

In [2]:
import pandas as pd

In [21]:
df=pd.read_csv('test1.csv')
df

           Name  Age
0       Abinash   21
1  Rajapandiyan   45
2      Amsaveni   43
3         Thiya   22
4       Abinesh   21
5       Adhavan   20
6          Adhi   15

In [23]:
type(df) # it is pandas dataframe.

pandas.core.frame.DataFrame

when i really want to work with pyspark, we need to start a spark session

In [5]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Parctice').getOrCreate() # this will create sparksession and we set name for it as 'Practice'

In [9]:
spark

when u execute on local there always one cluster -> master points to 'local'
But when u are actually working with cloud we can create multiple cluster and instance -> master have like cluster structure.

In [10]:
df_pyspark = spark.read.csv('test1.csv')

In [14]:
df_pyspark # here by default column name is consider as c0,c1

DataFrame[_c0: string, _c1: string]

In [13]:
df_pyspark.show()

+------------+---+
|         _c0|_c1|
+------------+---+
|        Name|Age|
|     Abinash| 21|
|Rajapandiyan| 45|
|    Amsaveni| 43|
|       Thiya| 22|
|     Abinesh| 21|
|     Adhavan| 20|
|        Adhi| 15|
+------------+---+

In [19]:
# but we wants the actual column name whats we gives.
df_pyspark = spark.read.option('header','true').csv('test1.csv') #whatever in the frst row that is consider as 'header'.
df_pyspark

DataFrame[Name: string, Age: string]

In [18]:
df_pyspark.show()

+------------+---+
|        Name|Age|
+------------+---+
|     Abinash| 21|
|Rajapandiyan| 45|
|    Amsaveni| 43|
|       Thiya| 22|
|     Abinesh| 21|
|     Adhavan| 20|
|        Adhi| 15|
+------------+---+

In [28]:
type(df_pyspark) # it is sql dataframe.here most of the API's have some same functions that do the similar jobs.

pyspark.sql.dataframe.DataFrame

In [29]:
df_pyspark.head(4)

[Row(Name='Abinash', Age='21'),
 Row(Name='Rajapandiyan', Age='45'),
 Row(Name='Amsaveni', Age='43'),
 Row(Name='Thiya', Age='22')]

In [31]:
df_pyspark.printSchema() #look like "df.info()"

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)